fastapi==0.124.2
uvicorn==0.38.0
SQLAlchemy==2.0.45
asyncpg==0.31.0
alembic==1.17.2
pydantic==2.12.5
email-validator==2.3.0
python-dotenv==1.2.1
httpx==0.28.1
aiohttp==3.13.2
aiosmtplib==5.0.0
Jinja2==3.1.6
starlette==0.50.0
beautifulsoup4==4.14.3
bs4==0.0.2
pandas==2.3.3
transliterate==1.10.2
phonenumbers==9.0.20
Telethon==1.42.0
aiogram==3.23.0
